#homee{
    .loading-bg{
        background: white;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        transform: translate(0, 100%); 
    }

    .info-section{
        width: 35%; 
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        padding: 54px;

        .logo{
            border: 5px solid #4b21ff;
        }

        .info-box{
            
            position: absolute;
            bottom: 60px;

            h4{
                font-size: 1.2rem;
                color: $color3;  
                margin: 0.7rem 0;
            }

            p{
                font-size: 0.9rem;
                font-weight: 300;
                color: $color3;
                margin: 0.2rem 0 1.6rem;
            }
        }

        .icon-section{
            a{
                color: white;
                text-decoration: none;
                font-size: 2rem;
                padding: 0 10px;
                &:hover{
                    color: $hoverColor; 
                }
                &:first-child{
                    padding: 0 10px 0 0;
                }

            }
        }

    }
    .content-area{
        margin-left: 35%;
        width: 65%;
        background: $color3;
        height: 100%; 
        
        // padding: 0 0 0 25%;
        .img-container{
            display: inline-block;
            width: 25%;
            position: relative;
            height: 100%;


            .user-img{ 
                position: absolute;
                top: 180px; //56px; 
                left: -250px;
                width: 500px;
                //height:700px; //calc(100% - 112px);
                height: 100%;
                background: url(../img/portrait.jpg) no-repeat center center; 
                border-radius: 5px;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                -webkit-box-shadow: 9px 20px 74px 6px rgba(0,0,0,0.34);
                -moz-box-shadow: 9px 20px 74px 6px rgba(0,0,0,0.34);
                box-shadow: 9px 20px 74px 6px rgba(0,0,0,0.34);
            }
        }

        .profile-section{
            vertical-align: top;
            display: inline-block;
            padding: 20% 0 0;
            // max-width: 500px;

            .profile{
                h1{
                    font-family: $font3;
                    font-size: 2.3rem;
                    font-weight: 500;
                    line-height: 1.2;
                    margin: 0 0 1rem; 
                    span{
                        color: $color1;
                    }
                }
                h5{
                    font-family: $font2;
                    font-size: 1.1rem;
                    margin: 0 0 2rem 0;
                }
                p{
                    font-family: $font1;
                    color: $color4;
                    font-weight: 300;
                    line-height: 1.4;
                    margin: 0 0 2rem;
                }

                
            }
        }
    }
    
    footer{
        display: none;
        width: 100%;
        background: $color1; 
        // border: 1px solid black; 
        height: 200px;

        .lists ul{
            list-style-type: none;
            text-align: center;
            margin: 0 auto;
            // border: 1px solid white;
            display: flex; 
            width: 90%;
            padding-top: 20px;
            

            li{
                width: 100%;
                // border: 1px solid red;
                // width: 300px;
                color: white;
                margin: 0 auto; 

            }
        }

        hr{
            margin-top: 20px;
        }

        .icons{
            font-size: 2.5rem;
            text-align: center;
            letter-spacing: 15px;
            // padding-bottom: 60px;

            a{
                color: white;

                span{
                    display: block;
                }
            }

        }
    }
}

@media (min-width: 0px) and (max-width: 767px) {
    #homee{
        footer{
            display: block;
        }
    }
}



@media (max-width: 534px) {
    #home-back{
        background: white;

    }
    #homee{
        .menu-icon{
            top: -3px;
            right: 20px;
            color: white;

            .fa{
                color: white;
            }
        }
        .content-area{
            // height: auto;
            height: 900px;
            &:after{
                content: "";
                display: table;
                clear: both;
            }
        }
        .info-section{
            width: 30%;
            padding: 56px 30px;
            height: 570px;

            .logo{
                display: none;
            }

            .icon-section{
                a{
                    font-size: 1.4rem;
                }
            }
            
            // .logo{
            //     height: 50px;
            //     width: 70px;
            //     font-size: 1rem;
            // }
            .info-box{
                display: none;
            }
        }
        .content-area{
            margin-left: 0;
            width: 100%;
            // height: auto; 
            // border: 4px solid red;
            // height: 1000px; 

            .img-container{
                // padding: 56px 5px 0;
                padding-top: 60px;
                width: 120px;
                height: 550px; 
                margin-left: 4px;

                .user-img{
                    position: static;
                    width: 100%;
                    // height: calc(100% - 112px);
                    height: 100%; ;
                }
            }
            .profile-section{
                text-align: center;
                width: 60%;
                height: 100%; 
                float: right;
                margin-right: 20px;

                &:after{
                    content: "";
                    display: table;
                    clear: both;
                }
                .profile{
                    // height: 100%; 
                    width: 100%;
                    margin-left: 5px;

                    .home-buttons-main{
                        display: none;
                    }


                    
                }
            }

                
            .home-buttons{
                display: block;
                display: grid;
                float: right;
                grid-template-columns: 1fr 1fr 1fr;
                margin: 20px 0 0 0; 

                .primary-btn, .ghost-btn{
                    width: 90%;
                }
            }
            
            // .home-buttons{
            //     background: yellow; 
            //     display: block;
            //     display: grid;
            //     float: right;
            //     grid-template-columns: 1fr 1fr 1fr;
            //     margin: 20px 0 0 0; 

            //     .primary-btn, .ghost-btn{
            //         width: 90%;
            //     }
            // }
        }

        footer{
            .lists ul{
                li{
                    #footer-email{
                        display: block;
                    }
    
                }
            }

            .icons{
                margin-top: 20px;
            }
        }
    }

    // #homee{
    //     .content-area{
    //         .profile-section{
    //             border: 1px solid black; 
    //             width: 100%;
    //             // height: 100%;
    //             // position: absolute;
    //             .profile{
    //                 border: 1px solid red;
    //                 margin-top: 40px;
    //                 padding: 0;
    //                 width: 100%;
    //                 height: 100%;
    //                 // position: relative;
    //                 // margin-left: 40px;

    //             }
    //         }
    //     }
    // }
}
@media (min-width: 534px) and (max-width: 767px) {
    #homee{
        .menu-icon{
            top: -3px;
            right: 20px;
            color: white;

            .fa{
                color: white;
            }
        }
        .content-area{
            height: auto;
            &:after{
                content: "";
                display: table;
                clear: both;
            }
        }
        .info-section{
            width: 30%;
            padding: 56px 30px;

            .logo{
                display: none;
            }

            .icon-section{
                a{
                    font-size: 1.4rem;
                }
            }
            
            // .logo{
            //     height: 50px;
            //     width: 70px;
            //     font-size: 1rem;
            // }
            .info-box{
                display: none;
            }
        }
        .content-area{
            margin-left: 0;
            width: 100%;

            .img-container{
                // padding: 56px 5px 0;
                padding-top: 56px;
                width: 120px;
                margin-left: 4px;

                .user-img{
                    position: static;
                    width: 100%;
                    height: calc(100% - 112px);
                }
            }
            .profile-section{
                width: 70%;
                float: right;
                padding: 20% 20px 0;
                margin-right: 35px;

                &:after{
                    content: "";
                    display: table;
                    clear: both;
                }

                // .profile{
                //     width: 100%;
                //     // margin-right: 130px;
                //     border: 1px solid black;
                // }

                
            }
        }

    }
}

@media (min-width: 768px) and (max-width:991px){
    #homee{
        .info-section{
            .info-box{
                p{
                    #email{
                        display: block;
                    }
                }
            }
        }
        .content-area{
            .img-container{
                padding: 56px 10px 0;
                .user-img{
                    height: calc(100% - 112px);
                    position: static;
                    width: 100%;
                }
            }
            .profile-section{
                width: 60%;
                float: right;
                padding: 20% 0px 0 0;
                margin-right: 50px;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    #homee{
        .content-area{
            .profile-section{
                margin-left: 20px;
            }
            .img-container{
                padding: 56px 10px 0;
                float: left;
                .user-img{
                    height: calc(100% - 112px);
                    // height: 100%;
                    position: static;
                    width: 100%;
                    

                }
            }

            .profile-section{
                width: 70%;
                float: left;
                padding: 20% 10px 0;
                max-width: 800px;

                
            }
        }
    }
}

@media (min-width: 1200px){
    #homee{
        .content-area{
            .img-container{
                padding: 56px 20px 0;
                float: left;
                .user-img{
                    height: calc(100% - 512px);
                    
                    // height: 900px;
                }
            }
            .profile-section{
                width: 70%;
                float: left;
                padding: 20% 60px 0;
                max-width: 800px;

            }
        }
    }
}

@media (min-width: 1200px) and (max-width: 1400px){
    #homee{
        // background: greenyellow;
        .content-area{
            .profile-section{
                margin-left: 35px;
            }
        }
    }
}

@media(max-width: 1635px){
    .home{
        .content-area{
            .img-container{
                .user-img{
                    top: 180px; 
                    left: -350px;
                    // width: 500px;
                    // height: calc(100% - 512px);
                    // height: 100%;

                }
            }
        }
    }
}

@media(min-width: 1636px){
    #homee{
        .content-area{
            .img-container{
                .user-img{
                    top: 56px;
                    // left: -250px;
                    // width: 500px;
                    height: calc(100% - 112px);
                }
            }
        }
    }
}

