#html-back{
    background: black;
}
#photography{
    background: black;
    padding: 0;

    .nav-bar{
        height: 200px;
        .nav-ctn{
            
            height: 100%;
            width: 100%;
            position: relative;
            .logo{
                margin-top: 53px;
                margin-left: 53px;
                background: black;
                position: absolute;
                border: 5px solid black;
            }
            .menu-icon{
                margin: 28px 0 0 0px;
                i{
                    color: white;
                }
            }
        }
    }
    .header-wrapper{
        color: white;
        line-height: 40px;
        margin-left: 23px;
        .header-title{
            font-size: 1.5rem;
        }
    }

    .container{
    
        .content-area{
            width: 50%;
            margin: 0 auto;
            min-width: 1000px;

            .white-bg{
                background: black;
                padding: 20px;

                h2{
                    font-size: 3rem;
                    margin-bottom: 2rem;
                    text-align: center;
                }

                .img-wrapper{

                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-auto-rows: 300px 300px;
                    grid-gap: 30px;
                    grid-auto-flow: dense; 
                    

                    .gallery-container{
                        .gallery-item{
                            width: 100%;
                            height: 100%;
                            position: relative;

                            .image{
                                width: 100%;
                                height: 100%;
                                overflow: hidden;

                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    object-position: 50% 50%;
                                    cursor: pointer;
                                    transition: .4s ease-in-out;
                                    opacity: 0.9;
                                }
                            }

                            .text{
                                opacity: 0;
                                position: absolute; 
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%); 
                                color: #fff;
                                font-size: 25px;
                                pointer-events: none;
                                z-index: 4; 
                                transition: .3s ease-in-out; 
                            }
                        }
                        .gallery-item:hover img{
                            transform: scale(1.5); 
                            opacity: 1;
                        }

                    }
                    .w-1{
                        grid-column: span 1;
                    }
                    .w-2{
                        grid-column: span 2;
                    }
                    .w-3{
                        grid-column: span 3;
                    }
                    .w-4{
                        grid-column: span 1;
                    }

                    .h-1{
                        grid-row: span 1;
                    }
                    .h-2{
                        grid-row: span 2;
                    }
                    .h-3{
                        grid-row: span 3;
                    }

                    @keyframes move-down{
                        0%{
                            top: 10%;
                        }
                        50%{
                            top: 35%;
                        }
                        100%{
                            top: 50%;
                        }
                    }
                }
            }
        }
    }

    footer{
        // display: none;
        width: 100%;
        background: black; 
        // border: 1px solid black; 
        height: 200px;

        .lists ul{
            list-style-type: none;
            text-align: center;
            margin: 0 auto;
            // border: 1px solid white;
            display: flex; 
            width: 90%;
            padding-top: 20px;
            

            li{
                width: 100%;
                // border: 1px solid red;
                // width: 300px;
                color: white;
                margin: 0 auto; 

            }
        }

        hr{
            margin-top: 20px;
        }

        .icons{
            font-size: 2.5rem;
            text-align: center;
            letter-spacing: 15px;
            // padding-bottom: 60px;

            a{
                color: white;

                span{
                    display: block;
                }
            }

        }
    }
}


@media (max-width: 700px){
    #photography{
        .container{       
            .content-area{
                width: 100%;
                .white-bg{
                    .img-wrapper{
                        grid-gap: 5px; 

                        #img-10{
                            margin-left: 5px;
                        }
                            .w-4{
                                grid-column: span 3;
                            }
                            .w-1, .w-2, .w-3{
                                grid-column: span 3;
                            }
                            .h-1, .h-2, .h-3{
                                grid-row: span 1;
                            }
                    }
                }
            }
        }
    }
}

@media (max-width: 1000px){
    #photography{
        .nav-bar{
            .nav-ctn{
                .logo{
                    margin: 53px 0 0 20px;
                }
            }
        }
        .container{        
            .content-area{
                width: 100%;
                min-width: auto;
                .white-bg{
                    .img-wrapper{
                        grid-template-columns: repeat(2, 1fr);
                        .w-4{
                            grid-column: span 2;
                        }
                        .w-1 .w-2, .w-3{
                            grid-column: span 2;
                        }
                        .h-1 .h-2, .h-3{
                            grid-row: span 2;
                        }
                    }
                }
            }
        }
    }
} 

