$color1: #4b21ff; 

$color2: #272727; 

$color3: #fefefe; 

$color4: #a9a9a9; 

$color5: #bdbdbd; 

$project: #efefef; 

$hoverColor: #ffe621; 

$hoverColor2: #FEFEFE; 


$btnTransition: all 0.3s ease-in-out; 

$font1: 'Fira Sans', sans-serif; 

$font2: 'Playfair Display', serif;

$font3: 'Dosis', sans-serif;

$font4: 'Archivo', sans-serif,
 'Dosis', sans-serif,
 'Fira Sans', sans-serif,
 'Lato', sans-serif, 'Merriweather', serif,
 'Orbitron', sans-serif,
 'Playfair Display', serif,'Fira Sans', sans-serif;




// , 'Merriweather', serif, 'Orbitron', sans-serif;

// font-family: 'Merriweather', serif;
// font-family: 'Orbitron', sans-serif;'